.viewer-debug {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.viewer-debug * li {
    white-space: nowrap;
}

.viewer-debug * pre {
    display: inline;
}

li.error {
    color: rgb(255, 55, 55);
}
