.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex-grow: 1;
    overflow: hidden;
}

.main-row {
    height: 100%;
}

.writer-col {
    height: 100%;
    overflow: hidden;
}

.viewer-col {
    height: 100%;
    overflow: hidden;
}
